@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import url("https://fonts.cdnfonts.com/css/saira");

body {
    font-family: "Saira", sans-serif;
}

section {
    margin-top: 5rem;
}

.frame {
    min-height: 100vh;
    width: 100%;
    margin-bottom: 2rem;
}

.nav-link {
    border-radius: 0.75rem;
}

.nav-link.active {
    border: 1px solid #fff;
}

.bg-black {
    background-color: black !important;
}

.float-link {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 100%;
    margin: 0.35rem 0;
    padding: 0.25rem;
    cursor: pointer;
}

.float-link svg {
    margin: auto
}

.follow-btn {
    background-color: black;
    border-width: 2px;
    border-radius: 0.75rem;
    border-color: white;
    color: white;
    width: 16rem;
    text-align: center;
}

.follow-btn:hover {
    color: white;
}

.primary-input {
    padding: 0.8rem 1.2rem;
    min-width: 20rem;
    background-color: transparent;
    border-width: 2px;
    border-radius: 0.75rem;
    color: white;
}

.primary-input:active, .primary-input:focus {
    background-color: transparent;
}

.primary-input:focus {
    border-color: white;
}

.primary-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
.primary-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
.primary-input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/* Home components */
.card.feature {
    height: 100%;
    border-radius: 20px;
    & .card-header {
        border-bottom: 0px;
    }
}

/* X-pet components */