$primary:                             #6C2ED0;
$secondary:                           #00FFC2;

$input-group-addon-bg:                  transparent;
$input-group-addon-border-color:        transparent;

$input-bg:                              transparent;
$input-border-color:                    transparent;
$input-focus-bg:                        transparent;
$input-focus-border-color:              transparent;
$input-focus-width:                     0;
$input-placeholder-color:               #FFFFFF;
$input-focus-box-shadow:                transparent;
$input-placeholder-color:               rgba(2, 9, 21, 0.5);

$btn-border-width:                      0px;